@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* Custom Theme */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a2540;
  }

  .dark {
    --background: #0a2540;
    --foreground: #ffffff;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
  }
}
